@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
.card {
  box-shadow: 0px 4px 8px #999;
  height: 350px;
  max-width: 350px;
  /* min-width: 23%; */
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgba(255, 255, 255, 0.685);
  transition: transform .2s; /* Animation */
}

.card:hover {
  box-shadow: 4px 16px 32px #999;
  transform: scale(1.005);
  cursor: pointer;
}

img{
height: 250px;
width: 250px;
padding: 50px,;
}

h3 {
  margin: 15px;
  position: relative;
  top: 10px;
  /* font: italic bold 20px/30px Georgia, serif; */
  color:  rgb(48, 47, 102);
  font-family: 'EB Garamond', serif;
}