@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
.card {
  box-shadow: 2px 4px 8px #999;
  height: 350px;
  width: 350px;
  /* min-width: 23%; */
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgba(255, 255, 255, 0.685);
  transition: transform .2s; 
  text-align: center;/* Animation */
}

.card:hover {
  box-shadow: 4px 8px 16px   #999;
  transform: scale(1.005);
 
}

img{
height: 250px;
width: 250px;
padding: 0px;
margin-left: auto;
margin-right: auto;
display: block;
}

h3 {
  margin: auto;
  position: relative;
  top : 270px;
  cursor: pointer;
  
  /* font: italic bold 20px/30px Georgia, serif; */
  color:  rgb(48, 47, 102);
  font-family: 'EB Garamond', serif;
}

/* .container {
  cursor: pointer;
  height: 316px;
  perspective: 600;
  position: relative;
  width: 316px;
} */
.artwork {
  height: 86%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 86%;
}
.artwork:hover {
  transform: rotateY(180deg);
}
.artwork .side {
  backface-visibility: hidden;
  height: 86%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.artwork .back {
  background: #eaeaed;
  color: #111213;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}