.section{
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.685);
  opacity: 0.9;
}

.section {
  box-shadow: 0px 4px 8px #999;

  background-color: rgba(255, 255, 255, 0.685);
  transition: transform .2s; /* Animation */
}

.section:hover {
  box-shadow: 4px 16px 32px #999;
  transform: scale(1.005);
  cursor: pointer;
}