@import url('https://fonts.googleapis.com/css?family=EB+Garamond');


.section{
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.685);
  opacity: 0.95;
  box-shadow: 0px 4px 8px #999;
  transition: transform .2s; /* Animation */
}

h2{
  color: rgb(106, 106, 112);
  font-family: 'EB Garamond', serif;
  /* font: italic bold 20px/30px Georgia, serif; */
}

h1{
  color:  rgb(48, 47, 102);
  font-family: 'EB Garamond', serif;
  /* font:  italic bold 40px Georgia; */
}

.photo{
  width: auto;
}



